.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: rgb(0, 0, 0);
    padding: 5rem;
  }
  
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .photo-container {
    border-radius: 50%;
    overflow: hidden;
    width: 400px;
    height: 400px;
    
    box-shadow: var(--shadow);
  }
  
  .profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-container {
    max-width: 600px;
    text-align: left;
  }
  
  .text-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-container p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .floating {
    display: flex;
    justify-content: center; /* Center the icon horizontally */
    margin-top: 1rem; /* Add some space between the text and the icon */
    font-size: 1rem; /* Adjust the size of the icon */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      text-align: center;
    }
  
    .text-container {
      text-align: center;
    }
  
    .text-container h1 {
      font-size: 2.5rem;
    }
  
    .text-container p {
      font-size: 1rem;
    }
  } 